<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TrackProtect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="SiteNavigationLink" value="http://test.trackprotect.com"/>-->
    <add key="SiteNavigationLink" value="http://localhost:4508"/>

    <add key="Facebook.App.Id" value="368287213289988" />
    <add key="Facebook.App.Secret" value="b954d057610511dd0b66984b10851023" />

    <add key="ConsumerKey" value="uCIUtdP5DPlgAmvZJoaQ"/>
    <add key="ConsumerSecret" value="3gpTLFyAYNLbx5rSjBZlXU9h3SntqoCyG1FiaLASqsk"/>

    <add key="Twitterizer2.EnableStatisticsCollection" value="false" />

    <add key="SignUpLink" value="http://test.trackprotect.com/FirstLogon.aspx?userId="/>

    <add key="EmailHeaderLogo" value="http://test.trackprotect.com/Images/logo_template.png"/>
    <add key="EmailFooterLogo" value="http://test.trackprotect.com/Images/smalllogo_template.png"/>

    <add key="EmailmailToLink" value="info@trackprotect.com"/>

    <add key="EmailFBLogo" value="http://test.trackprotect.com/Images/f_icon.png"/>
    <add key="EmailFBlink" value="https://www.facebook.com/trackprotect"/>

    <add key="EmailTwitterLogo" value="http://test.trackprotect.com/Images/t_icon.png"/>
    <add key="EmailTwitterLink" value="https://twitter.com/trackprot"/>

    <add key="EmailSoundCloudLogo" value="http://test.trackprotect.com/Images/s_icon.png"/>
    <add key="EmailSoundCloudLink" value=""/>

    <add key="SupportEmail" value="support@trackprotect.com"/>

    <add key="StoragePath" value="D:\Technical\Project\Track Protect\Version 13-06-2013\TrackProtect\trackprotect_repos\repository"/>
    <add key="CetificatePath" value="D:\Technical\Project\Track Protect\Version 13-06-2013\TrackProtect\trackprotect_repos\certificates"/>
    <add key="RootCertificate_Name" value="TrackProtect Root Certificate.p12" />
    <add key="RootCertificate_Password" value="UDfPct0w3zdHEb6"/>
    <add key="SigningCertificate_Name" value="TrackProtect Signing Certificate.p12" />
    <add key="SigningCertificate_Password" value="tr4ckpr0t3ct"/>

  </appSettings>
  <connectionStrings>
    <remove name="ApplicationServices" />
    <!--<add name="ApplicationServices"   connectionString="server=31.3.98.144;UserId=rhosmove_tpdb;password=DJiedvhb21;database=rhosmove_tpdb;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
    <add name="ApplicationServices" connectionString="server=localhost;port=3306;UserId=root;password=ideavate@123;database=TrackProtect;charset=utf8" providerName="MySql.Data.MySqlClient" />
    <!--<add name="ApplicationServices" connectionString="server=mail.rhosmovement.com;UserId=rhosmove_tpdb;password=DJiedvhb21;database=rhosmove_tpdb;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ApplicationServices" connectionString="server=tp.intellidata.nl;UserId=trackprotect;password=Tr@ckPr0t3ct;database=rhosmove_tpdb;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="TrackProtect" connectionString="server=localhost;port=5433;User ID=postgres;Password=h3pha1st0s;database=TrackProtect;" providerName="Npgsql" />-->
    <add name="dbDomain" connectionString="Data Source=NODE589;Initial Catalog=SoundCloud;Persist Security Info=True;User ID=sa;Password=ideavate@123" providerName="System.Data.SqlClient" />
    <add name="dbExceptions" connectionString="Data Source=NODE589;Initial Catalog=SoundCloud;Persist Security Info=True;User ID=sa;Password=ideavate@123" providerName="System.Data.SqlClient" />
    <add name="dbSource" connectionString="Data Source=NODE589;Initial Catalog=SoundCloud;Persist Security Info=True;User ID=sa;Password=ideavate@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <!-- <add verb="*" path="CaptchaImage.aspx" type="SID.Captcha.CaptchaImageHandler, SID.Captcha" /> -->
      <!-- <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" /> -->
    </httpHandlers>
    <httpRuntime executionTimeout="1000" maxRequestLength="500408" requestLengthDiskThreshold="80" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="Infragistics2.WebUI.WebDateChooser.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.Shared.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />-->
      </assemblies>
    </compilation>
    <fullTrustAssemblies>
      <!--<add assemblyName="Brettle.Web.NeatUpload" version="1.3.4034.20191" publicKey="0024000004800000940000000602000000240000525341310004000011000000896e11d9e95d592ab2607e9                  dfb01025ae38dbf2d6e9cd96a39209ee36bddc0a2bfbd0823676654b156e999d04fb761eae1f0f18758bdf7                  f81ae56fca8f8a81f88e95d6ac9237f68843bb23ae2ed2a3ffeac20f69b50e0340ba9366ae1ad0fb8b9cfb2                  039996eeff4c14bd1eab601bf138a6dd2dfdfb4b84acace6fe21eb388ba"/>-->
    </fullTrustAssemblies>
    <httpModules>
      <!--<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>-->
    </httpModules>
    <!--
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.4.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" name="AspNetSqlProfileProvider" applicationName="/" connectionStringName="ApplicationServices" autogenerateschema="true" />
      </providers>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
  -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <!-- Tag added by Ashutosh Tiwari on 25/02/2013-->
    <sessionState mode="InProc" timeout="3000"></sessionState>
    <membership defaultProvider="TrackProtectMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <!--<add name="TrackProtectMembershipProvider" type="TrackProtect.TrackProtectMembershipProvider" connectionStringName="TrackProtect" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Clear" description="Stores and retrieves membership data" decryptionKey="68d288624f967bce6d93957b5341f931f73d25fef798ba75" validationKey="65a31e547b659a6e35fdc029de3acce43f8914cb1b2            4fff3e1aef13be438505b3f5becb5702d15bc7b98cd            6fd2b7702b46ff63fdc9ea8979f6508c82638b129a" />-->
        <add name="TrackProtectMembershipProvider" type="TrackProtect.TrackProtectMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Clear" description="Stores and retrieves membership data" decryptionKey="68d288624f967bce6d93957b5341f931f73d25fef798ba75" validationKey="65a31e547b659a6e35fdc029de3acce43f8914cb1b2            4fff3e1aef13be438505b3f5becb5702d15bc7b98cd            6fd2b7702b46ff63fdc9ea8979f6508c82638b129a" />
      </providers>
    </membership>
    <!--
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
  -->
    <!--
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
    <providers>
      <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="MySqlRoleProvider" type="MySql.Web.Security.MySQLRoleProvider,MySql.Web,Version=6.3.6.0,Culture=neutral,PublicKeyToken=c5687fc88969c44d" autogenerateschema="true" />
    </providers>
  </roleManager>
  <machineKey validationKey="AutoGenerate" validation="SHA1" />
  -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" preCondition="managedHandler"/>-->
    </modules>
    <handlers>
      <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <TrackProtect.Properties.Settings>
      <setting name="TrackProtect_TrackProtectSvc_TrackProtectService" serializeAs="String">
        <value>http://localhost:56822/TrackProtectService.asmx</value>
      </setting>
    </TrackProtect.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.60623.0" newVersion="4.1.60623.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Facebook" publicKeyToken="58cb4f2111d1e6de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.10.0" newVersion="6.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Twitterizer2" publicKeyToken="69d1469eac671567" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.2.20976" newVersion="2.4.2.20976" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>