acquirers=rabobank,ingbank,simulator

hashkey=Password
privatekey=Password
testmode=true

urlcancel=~/Member/PayResult.aspx?result=cancel
urlerror=~/Member/PayResult.aspx?result=error
urlsuccess=~/Member/PayResult.aspx?result=success

rabobank.name=Rabobank
rabobank.merchantid=12345678
rabobank.subid=0

ingbank.name=ING Bank
ingbank.merchantid=1234679
ingbank.subid=0

simulator.name=iDEAL Sim
simulator.merchantid=123456789
simulator.subid=0
